<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('chats') }}">My chats</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!--
    <h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>

    {% if current_user.is_authenticated %}
    <h3>My rooms</h3>
    <ul>
        {% for room in rooms %}
        <li><a href="/rooms/{{ room._id.room_id }}">{{ room.room_name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    -->
    <section class="chat-list">
        <div class="container">
            <h2>Chat List</h2>
            <ul>
                {% for friend in friends %}
                <li><a href="/chats/{{ friend }}/">{{ friend }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>

</html>
