<!DOCTYPE html>
<html>

<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <style>
        .signup-box {
            margin: 0;
            position: absolute;
            top: 30%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <script src="../static/js/require.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('chats') }}">My chats</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <h3>{{ message }}</h3>
    <div class="signup-box">
        <main>
            <h2>Create an Account</h2>
            <!-- <form id="message_input_form" method="post" action="{{ url_for('signup') }}"> -->
            <form id="message_input_form" method="post" role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <!-- <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div> -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <!--
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password">
                </div>
                -->
                <button type="submit">Sign Up</button>
            </form>
        </main>
    </div>
</body>
<script src="../static/js/signup.js"></script>

</html>
